a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background: #f6f9fc !important;
}

/* header start */

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-ciy9n4-MuiPaper-root-MuiAppBar-root {
  background-color: #14b8a6;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
  background: #14b8a6;
}

.header-searchIcon {
  width: 20.12px;
  height: 20.12px;
}

.margintop {
  margin-top: 40px;
}

.header-sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 20px;
  cursor: pointer;
}

.header-home-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: rgba(34, 34, 34, 0.4);
}

.top-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #14b8a6;
  margin-bottom: 15px;
}

/* Main start */
.main-left-right {
  display: flex;
  gap: 14px;
}

.main-left {
  background: #ffffff;
  text-align: center;
  width: 356px;
}

.main-img {
  width: 134px;
  height: 134px;
  margin: 18px 0 10px 0;
}

.main-user {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.main-user-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(34, 34, 34, 0.8);
}

.main-user-details {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(34, 34, 34, 0.4);
}

.left-basicInfo {
  margin: 20px 15px;
}

.basic-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.basic-info-details {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(34, 34, 34, 0.6);
}

.basic-form-control {
  margin-top: 12px;
}

.basic-form-control-bg {
  background: linear-gradient(225deg, #12b7a7 0%, #2fe8b6 100%);
}

.basic-form-control-txt {
  color: #ffffff !important;
}

.basic-form-btn {
  border-radius: 5px;
  background: linear-gradient(225deg, #12b7a7 0%, #2fe8b6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 10px 75px 10px 75px;
  border: 2px solid #12b7a7;
  margin-top: 25px;
  cursor: pointer;
}

.main-right {
  background: #ffffff;
  padding: 25px 20px;
  width: 70%;
}

.main-right-input {
  background: #fafafa;
  border-radius: 5px;
  width: 396.88px;
  height: 48.46px;
  outline: none;
  border: 0;
  padding-left: 10px;
}
.main-right-input:focus {
  border: 0;
  outline: none;
}

.main-right-input::placeholder {
  color: rgba(34, 34, 34, 0.4);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.main-right-top {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.main-right-calender {
  display: flex;
  align-items: center;
  height: 49px;
  background: #fafafa;
  border-radius: 5px;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16.152px;
  line-height: 24px;
  color: rgba(34, 34, 34, 0.4);
  cursor: pointer;
}

.main-right-titile {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #14b8a6;
  margin: 30px 0;
}

.main-right-item {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  padding-bottom: 4px;
}

.main-right-item-details {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-right-item-ad {
  display: flex;
  align-items: center;
  gap: 42px;
}

.main-right-item-details-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(34, 34, 34, 0.8);
}

.main-right-item-user-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(34, 34, 34, 0.6);
}

.main-right-item-details-activity {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5371px;
  line-height: 14px;
  color: rgba(34, 34, 34, 0.6);
}
